/* autor: DanielTortondaRuiz */
body {
  background-image: url("imagenes/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.cajaFacil{
  width: 1000px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  padding: 1% .75%;
}

.cajaMedio{
  width: 1000px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  padding: 1% .75%;
}

.cajaDificil{
  width: 1450px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  padding: 1% .75%;
}

.carta {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin: .4%;
  border-radius: 4px;
  overflow: hidden;
}
img {
  width: 150px;
  height: 120px;
  border: 1px black solid;
  cursor: pointer;
}

#contenedor {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-direction: column;
}

#botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button {
  background: hsl(158, 94%, 48%);
  width: 15%;
  min-width: 150px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sonidos {
    background: hsl(158, 94%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    gap: 5px;
}
